@model string;
@{
    ViewData["Title"] = "No Companies Found";
    Layout = "~/Components/_SharedViews/_Layout.cshtml";

}

<br />
<br />
<br />
<h3>Oh no!  We couldn't find any matches for that company.</h3>
<br />
<h4>  
    We'll see if we can find matches during our next data refresh.
    <br/>
    <br/>
    In the meantime, maybe you'd like to go to the <a asp-controller="Home"asp-action="Index">homepage</a> to search for another company?

</h4>