@model string;
@{
    ViewData["Title"] = "No Companies Found";
    Layout = "~/Components/_SharedViews/_Layout.cshtml";

}

<h2>Sorry, about that.  =(
    We couldn't find any matches for '@Model.ToString()'
</h2>
<br />
<h3>  
    We've automatically added it to our records, and we'll pull any data we can find on it during the next refresh cycle.
    <br/>
    <br/>
    In the meantime, maybe you'd like to go to the <a asp-controller="Home"asp-action="Index">hompeage</a> to search for another company?

</h3>