@model string;
@{
    ViewData["Title"] = "No Companies Found";
    Layout = "~/Components/_SharedViews/_Layout.cshtml";

}

<h2>Sorry, about that.  =(</h2>
<br />
<h3>We couldn't find any matches for '@Model.ToString()'</h3>
<br />
<h3>  
    We'll see if we can find matches during our next data refresh.
    <br/>
    <br/>
    In the meantime, maybe you'd like to go to the <a asp-controller="Home"asp-action="Index">hompeage</a> to search for another company?

</h3>