<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Uh-oh... We couldn't find that resource.</h1>
        <h3>
            Perhaps a look through the @Html.ActionLink("Service Record Registry", "Index", "ServiceRecord") will turn up the page you're looking for?
            <br/>
            If not, check back in a few days and see if we've fixed the error.
        </h3>
    </hgroup>
</body>
</html>
