@using SpartanClash.Models.ClashDB;
@model List<TCompanies>

<link rel="stylesheet" href="~/css/registry.css" />

@{
    Layout = "~/Components/_SharedViews/_Layout.cshtml";
    TCompanies compOne = Model.FirstOrDefault();
}


<div class="company-cards">
    @foreach (TCompanies company in Model)
    {
        <div class="company-box">
            <div class="company-box-tab">
                @if(company.WaypointLeaderBoardRank < 0)
                { 
                    <p>&times;</p> 
                }     
                else 
                { 
                    <img class="rank-image" src="~/images/Registry/csr_bronze_array02-431098c768ef4832b5d925ba06efbe70.png" alt="rankingImage"> 
                }
            </div>
            <div class="company-box-title">
                <a  asp-controller="ServiceRecord" 
                        asp-action="CompanyCards"
                        asp-route-company="@company.CompanyName">
                    <h4>
                        @company.CompanyName
                    </h4>
                </a>
            </div>
        </div>
    }
</div>