@{
    ViewData["Title"] = "About";
}
<div class="question">
    <h3><b>What does Spartan Clash do?</b></h3>
    <p>
        We want to help people find more reasons to play Halo with their friends.<br />
        There are a lot of excellent sites that focus on single-person statistics, but it's often hard to see how far your team has come.<br />
        <br />
        We provide a view at the team level, instead of the the individual.
    </p>
</div>
<div class="question">
    <h3><b>How do you track matches?</b></h3>
    <p>
        We use the Halo API to get match histories from all the Spartan Companies we are tracking.<br />
        Then, we aggregate the results into the team views you see on the site.<br />
        <br />
        The match data we use comes directly from the offical servers, and we refresh data at least once every 24 hours.
    </p>
</div>
<div class="question">
    <h3><b>Which matches do you track? </b></h3>
    <p>
        We track ranked Arena modes, Big Team Battle, and (classic) Warzone.  Our affiliated player threshold to tag a match is 75%.  <br />
        For example..
        <ul>
            <li>Slayer - teams with 3 or 4 players from the same Spartan Company</li>
            <li>BTB - teams with 6-8 players from the same Spartan Company</li>
            <li>Warzone - teams with 9-12 players from the same Spartan Company</li>
        </ul>
        <br />
        Once we're tracking your Spartan Company, all you have to do is play matchmaking with your friends and your games will appear here every night.
    </p>
</div>
<div class="question">
    <h3><b>Will you track my company? </b></h3>
    <p>
        Yes, we'd love to!  Here's how: <br />
        <ol>
            <li>Make sure your company is registered on Halo Waypoint.</li>
            <li>Go to the search bar on the home page and type in the name of your company there.  You'll get a "not found" page, but it lets us know you're interested.</li>
            <li>Finally, play at least one game with a full party from your Spartan Company in one of the tracked modes.</li>
            <li>Check back the next day - we'll pull your data in on the next refresh.</li>
        </ol>
        <br />
        Please feel free to hit us up directly on Discord if you think you think we're missing your data.
    </p>
</div>
<div class="question">
    <h3><b>What's next?  Do you take feedback?</b></h3>
    <p>

        Spartan Clash is very much a work in progress, and right now, the focus is on improving the backend and growing the list of tracked companies. <br />
        <br />
        Longer term, we're looking at ways to let people log into the site so that you can see the matches you care about. <br />
        <br />
        We're also exploring ways to share how to compare teams head-to-head. <br />
        <br />
        If you have suggestions or questions for the site, we'd love to hear from you on our Discord.
    </p>
</div>

<hr />
<footer class="disclaimer">
    <p>
        &copy; @DateTime.Now.Year - This application is offered by SpartanClash.com, which is solely responsible for its content. It is not sponsored or endorsed by Microsoft. This application uses the Halo® Game Data API.
        <br />
        <br />
        Halo © @DateTime.Now.Year Microsoft Corporation. All rights reserved. Microsoft, Halo, and the Halo Logo are trademarks of the Microsoft group of companies.
    </p>
</footer>
