@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
    <h1>
        Chase more than Achilles.
    </h1>
    <br />
    <br />
    <h3>
        Spartan Clash brings your friends closer by giving you something to strive for.
    </h3>
</div>

<div class="question">
    <h3><b>What does Spartan Clash do?</b></h3>
    <p>
        Spartan Clash hosts leaderboards that show which Spartan Companies are "the best."<br />
        We're tracking every game played by players in Spartan Companies, and we've got match histories for every Warzone Warlords match since the playlist debuted in January.<br />
        <br />
        Ultimately, we want you to be able to track your progress across all Warzone gametypes and find rival Companies to challenge.
    </p>
</div>
<div class="question">
    <h3><b>How do you track matches?</b></h3>
    <p>
        We use the Spartan Company lists published on Waypoint and the Halo 5 API to generate a list of possible matches.<br />
        <br />
        Companies will appear on the Leaderboards once they've played 10 Warlords matches.
    </p>
</div>
<div class="question">
    <h3><b>Which matches do you track? </b></h3>
    <p>
        If we find any game that has 6 or more members from the same Company on the same team, we tag it and add it to our database.<br />
        We don't discriminate between different parts of the company - if you're in the company when we pull the data, you count.<br />
        <br />
        This means all you have to do to show up on the site is play Warzone Warlords with a fully party (6+ players) from your Spartan Company.
    </p>
</div>

<div class="question">
    <h3><b>What's next?  Do you take feedback?</b></h3>
    <p>
        We've planned a number of small, quality-of-life improvements around filtering/exploring data and displaying more in depth match results.<br />
        After that, we'll be diving into our backend to support more playlists, but that will take a while.  Expect Warlords-only content for the next few months.<br />
        <br />
        If you have suggestions for the site, we'd love to hear from you at SpartanClashPilot@gmail.com.
    </p>
</div>