@{
    ViewData["Title"] = "Home Page";
}



<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->

<script>
        $(function () {
            $("#companies").autocomplete({
                source: "@Context.Request.Scheme://@Context.Request.Host.ToUriComponent()@Url.Action("CompanyAutocomplete", "Home")",
                position: { my: "left top", at: "left bottom", collision: "none" }
            });
        });
</script>

<div class="jumbotron">
    <h2>Fight together, Spartan.<br></h2>    
</div>

<div class="ui-widget">
    <label for="companies">Companies: </label>
    <input id="companies">
</div>