@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2>Fight together, Spartan.<br></h2>

    <div class="ui-widget">
        <label for="tags">Companies: </label>
        <input id="tags">
    </div>
    
</div>

<div class="body-content">
    <p>Spartan Clash tracks every game your Spartan Company plays together and puts them in one place.</p>
    <br />
    <p>We're tracking Warzone Warlords matches right now - view our leaderboards to find rival Companies.</p>
</div>