@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>You've built a team, Spartan.<br></h1>
    <p class="lead">
        <br />
        But are you the best?
     </p>
    
    <p><a href="~/Leaderboards/" class="btn btn-primary btn-lg">See Leaderboards &raquo;</a></p>
</div>

<div class="body-content">
    <p>Spartan Clash tracks every game your Spartan Company plays together and puts them in one place.</p>
    <br/>
    <p>We're tracking Warzone Warlords matches right now - view our leaderboards to find rival Companies.</p>
</div>