@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<h1>Uh-oh... We couldn't find that resource.</h1>
<h3>
    Perhaps a look through <a asp-controller="ServiceRecord">Service Recored Registry</a> will turn up the page you're looking for?
    <br />
    If not, check back in a few days and see if we've fixed the error.
</h3>

