.body-content {
    max-width: 600px;
    align-items: center;
}

.opponent-hidden {
    display: none !important;
}

.date-hidden {
    display: none !important;
}

.mode-hidden {
    display: none !important;
}


.company-title-header {
    text-align: center;
    width: 100%;
}

.game-result-summation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.game-result-controls {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.game-result-card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 116px;
    border: 3px solid #000000;
    box-shadow: 5px 5px 5px #333333;
    margin-bottom: 36px;
}

.team-result {
    color: #ffffff;
    text-align: center;
    height: 110px;
    width: 40%;
    border: 0;
}

.team-result h2 {
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 0px 0px;
}

.team-result h3 {
    font-size: 16px;
}

.team-result-red {
    width: 50%;
    background-color: firebrick;
}

.team-result-blue {
    width: 50%;
    background-color: darkslateblue;
}


.game-result-spacer-red-active {
    width: 0;
    height: 110px;
    border-bottom: 110px solid darkslateblue;
    border-left: 110px solid firebrick;
}

.game-result-spacer-blue-active {
    width: 0;
    height: 110px;
    border-bottom: 110px solid firebrick;
    border-left: 110px solid darkslateblue;
}

.match-filter-data {
    display: none;
}

.enemy-clan-link a{
    color: #ffffff;
    text-decoration: underline;
}

/* Dropdown Button */

.filter-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
}

.btn-group { /*.filter-item*/
    width: 33%;
    vertical-align: central;
    text-align: center;
    border: none;
}

.btn { /*.filter-btn*/
    background-color: #333333;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 0;
    font-size: 1.2vmin;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    background-color: #eeeeee;
    width: inherit;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-item{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-item:hover {
    background-color: #999999
}

