{
  "ConnectionStrings": {
    "DefaultConnection": "<Connection String Goes Here>",
    "clashDBConnection": "<Connection String Goes Here>"
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  }
}
